*{
    padding: 0;
    margin: 0;
 }
 body{
    height: 100vh;
    background-position: center;
    background-color:honeydew;
    background-size:cover;
 }
 .image img{
    position: absolute;
    left:40%;
    border: 5px rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 11px 5px #000000;
    width: 55%;
    height: 90%;
 }
 .audio  audio{
    position: absolute;
    width: 30%;
    height: 115%;
    top:-100%;
    left:7%;
 }
 .low h1{
       position: absolute;
       left:10%;
       color: rgb(154, 37, 37); 
       font-family:sans-serif;
       font-size: 25px;
       border: 2px double black;
 }
 .low h2{
       position: absolute;
       top:117%;
       left: 60%;
       color: black; 
       font-family: Times New Roman;
       font-style: oblique;
       font-size: 15px;
       border: 2px double black;
 }
 .song h3{
           position: absolute;
           left: 5%;
           top:15%;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           font-style:oblique;
           font-size: 16px;   
 }
 .song p{
          
          left: 5%;
          font-family: "Courier New", Courier, monospace;
          font-style: oblique;
          font-size: 16px;
 }